@keyframes skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.skeleton {
  background-color: #ffffff15;
  animation: skeleton 2s ease-in-out 0.5s infinite;
  pointer-events: none;
  &:before {
    content: "\00a0";
  }
}

.filter-page {
  .back-button.skeleton {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .filter-page__title.skeleton {
    height: 2rem;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
  }

  .filter-page__preview.skeleton {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 1rem;
  }
  .filter-page__preview-image.skeleton {
    height: 100%;
  }

  .filter-page__description.skeleton {
    height: 4rem;
    margin-bottom: 2rem;
  }

  .apply-button.skeleton {
    height: 3rem;
    width: 200px;
    margin: 0 auto;
    border-radius: 2rem;
  }
}
